div.option {
    padding: 1vw;
    background-color: #ebefff;
}

@media (prefers-color-scheme: dark) {
    div.option {
        background-color: #000414;
    }
}

div.option .div_title {
    font-family: Pretendard;
    font-weight: 900;
}