div.selector {
    display: flex;
    flex-direction: column;
}

div.selector div.option{
    padding: 0;
    width: 100%;
}

div.selector label {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    padding: 1vw;
    width: 100%;
    
    display: block;
    
    border-radius: 0.5vw;
    background-color: var(--backb);
    text-align: center;

    font-weight: bold;
}

div.selector input[type="radio"] {
    display: none;
}

div.selector input[type="radio"]:checked + label {
    background-color: var(--text);
    color: var(--backb);
}

canvas {
    display: block;
}
    