@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
  font-family: TAEBAEKmilkyway;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  display: grid;
  grid-template-columns: auto auto auto;
}

header {
  width: fit-content;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 0;

  background-color: #EE9996;
}

header .title {
  padding: 1vw;
  background-color: #232020;
  color: white;
}

header .menu {
  display: flex;
  flex-direction: column;
}

header .menu li {
  padding: 1vw;
  background-color: #F0F2F9;
}

header .menu li:hover {
  background-color: #DD322C;
}
