@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@media (prefers-color-scheme: light) {
    * {
        --text: black;
        --back0: #EBEFFF;
        --back1: #C2CDFF;
        --back2: #3358FF;
        --backb: white;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        --text: white;
        --back0: #000414;
        --back1: #000B3d;
        --back2: #0025CC;
        --backb: black;
    }
}

* {
    color: var(--text);
    font-family: TAEBAEKmilkyway, ONE-Mobile-POP;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: grid;
    grid-template-columns: auto auto 1fr;
    background-color: var(--backb);
}

header {
    width: fit-content;
    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 0;

    background-color: var(--back1);
}

header .logo {
    width: 100%;
    aspect-ratio: 1/1;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    background-image: url('./logo-transparent.png');
}

@media (prefers-color-scheme: dark) {
    header .logo{
        background-image: url('./logo-white-transparent.png');
    }
}

header .menu {
    display: flex;
    flex-direction: column;

    list-style: none;
}

header .menu li {
    padding: 1vw;
    background-color: transparent;
    font-weight: 700;
    font-size: calc(1vw + 5pt);
    position: relative;
}

header .menu li:hover {
    background-color: var(--back2);
    color: white;
}

main {
    padding: 1vw;
}

/* 기본 페이지 양식 */
div.page_introduction {
    padding: 1vw;
    background-color: var(--back1);
}

div.page_introduction > * {
    font-family: 'Pretendard Variable';
    font-weight: 700;
}

div.page_introduction div.page_title {
    font-style: inherit;
    font-size: 5vw;
}

div.page_introduction div.page_subtitle {
    font-style: inherit;
    font-size: 2.5vw;
}

a.otherpage_link {
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 1vw;
    
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    font-weight: 700;
    font-size: 2vw;

    background-color: var(--back0);
}

a.otherpage_link img {
    position: relative;
}